* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f1f1f1;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    font-size: 15px;
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
}

main {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    margin-top: 16px;
    grid-template-areas: 

    'div1 div2'
    'footer footer' ;

    .left_section {
        grid-area: div1;
        background-color: white;
        margin-left: 16px;
        box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
        color: #757575;
        max-height: 1120px;

        .cv_img {
            width: 100%;
            position: relative;
            img {
                width: 100%;
            }
            .cv_name {
                position: absolute;
                left: 0;
                bottom: 0;
                padding: 16px;
                h2 {
                    font-weight: 400;
                    font-size: 30px;
                    color: black;
                }
            }
        }

        .info {
            padding: 0 16px;
            height: 100vh;
            >p {
                margin: 15px 0;
            }

            i {
                color: #009678;
                margin-right: 16px;
                font-size: 18px;
            }

            .skills {
                margin: 18px 0;
                font-size: 18px;
                font-weight: 900;
            }

            .percent_bar {
                color: black;
                background-color: #f1f1f1;
                font-size: 12px;
                border-radius: 16px;

                .percentage_1 {
                    width: 90%;
                    color: white;
                    background-color: #009678;
                    text-align: center;
                    border-radius: 16px;
                }

                .percentage_2 {
                    width: 80%;
                    color: white;
                    background-color: #009678;
                    text-align: center;
                    border-radius: 16px;
                }

                .percentage_3 {
                    width: 75%;
                    color: white;
                    background-color: #009678;
                    text-align: center;
                    border-radius: 16px;
                }

                .percentage_4 {
                    width: 50%;
                    color: white;
                    background-color: #009678;
                    text-align: center;
                    border-radius: 16px;
                }
            }

            .languages {
                margin-top: 48px;
                margin-bottom: 18px;
                font-size: 18px;
                font-weight: 900;
            }

            .languages_bar {
                color: black;
                background-color: #f1f1f1;
                border-radius: 16px;

                .level_bar_1 {
                    height: 24px;
                    width: 100%;
                    color: white;
                    background-color: #009678;
                    border-radius: 16px;
                }

                .level_bar_2 {
                    height: 24px;
                    width: 55%;
                    color: white;
                    background-color: #009678;
                    border-radius: 16px;
                }

                .level_bar_3 {
                    height: 24px;
                    width: 25%;
                    color: white;
                    background-color: #009678;
                    border-radius: 16px;
                }
            } 
        }
    }
    
    .right_section {
        grid-area: div2;
        background-color: #f1f1f1;
        margin-right: 16px;
        display: inherit;
        grid-template-rows: 1fr 1fr;
        gap: 16px;
        max-height: 1190px;
        grid-template-areas: 
            'top top'
            'bottom bottom' ;
            
        

        .top_part {
            background-color: white;
            box-shadow: 4px 4px 4px 0 #aab2b8;
            grid-area: top;
            padding: 20px;
            box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);

            h2 {
                font-size: 30px;
                color: #757575;
                padding: 16PX 0;
                font-weight: 400;
                font-family: "Roboto", sans-serif;

                i {
                    color: #009678;
                    margin-right: 16px;
                    font-size: 36px;
                }
            }

            .experience_container {
                padding: 0 16px;
                margin-bottom: 18px;
                i {
                    color: #009678;
                    margin-right: 16px;
                    font-size: 16px;
                }
                .experience_headers {
                    font-weight: 400;
                    margin: 10px 0;
                    font-family: "Roboto", sans-serif;
                    opacity: 0.6;
                    font-size: 18px;
                }

                .experience_date {
                    color: #009688;
                    font-weight: 400;
                    margin: 10px 0;
                    font-size: 16px;

                    span {
                        color: white;
                        background-color: #009688;
                        border-radius: 4px;
                        display: inline-block;
                        padding-left: 8px;
                        padding-right: 8px;
                        text-align: center;
                    }
                }

                p {
                    color: black;
                    display: block;
                    margin: 15px 0;
                }
            }
        }

        .bottom_part {
            background-color: white;
            box-shadow: 4px 4px 4px 0 #aab2b8;
            grid-area: bottom;
            padding: 16px;
            box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
            h2 {
                font-size: 30px;
                color: #757575;
                padding: 16PX 0;
                font-weight: 400;
                font-family: "Roboto", sans-serif;

                i {
                    color: #009678;
                    margin-right: 16px;
                    font-size: 36px;
                }
            }

            .education_container {
                padding: 0 16px;
                margin-bottom: 18px;
                i {
                    color: #009678;
                    margin-right: 16px;
                    font-size: 16px;
                }
                .education_headers {
                    font-weight: 400;
                    margin: 10px 0;
                    font-family: "Roboto", sans-serif;
                    opacity: 0.6;
                    font-size: 18px;
                }

                .education_date {
                    color: #009688;
                    font-weight: 400;
                    margin: 10px 0;
                    font-size: 16px;
                }

                p {
                    color: black;
                    display: block;
                    margin: 15px 0;
                }
            }
        }
    }

    .footer {
        grid-area: footer;
        background-color: #009678;
        bottom: 0;
    }
}

